body{
    background: #494d5f;
    height: 23px;
}
.bg_1{
    background: #494d5f;
    height: 23px;
}
.header{
    height: 105px;
    background: white;
}
.logo{
    top: 18px;
    position: relative;
    margin: 0;
    width: 150px;
}
.logo h1 a{
    color: #494d5f;
    font-weight: bolder;
    font-size: 30px;
}
.logo h1 span{
    color: #95c11f;
}
.date{
    float: right;
    margin-top: -55px;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
}
.welcome-portal{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 25px;
}
.form-login .form-control{
    margin-bottom: 25px;
    height: 47px;
    border-radius: 0px;
    padding-left: 17px;
}
.submit-ok{
    background: #95c11f;
    float: right;
    color: white;
    border: none;
    width: 64px;
    font-weight: 500;
    height: 33px;
    font-size: 15px;
}

.form-login ::-webkit-input-placeholder {
    font-style: italic;
  }
.form-login::-moz-placeholder { 
    font-style: italic;
  }
.form-login:-ms-input-placeholder { 
    font-style: italic;
  }
.form-login:-moz-placeholder {
    font-style: italic;
  }
.all-page{
    background:white;
}
.nav-tech .nav-link{
    background: #494d5f;
    color: white !important;
    border-radius: 7px;
    box-shadow: 1px 0px 2px 0px #a5a5a5;
    font-weight: 500;
    font-size: 13px;  
    padding-left: 20px !important;
    padding-right: 20px !important;  
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    line-height: 15px;
    text-align: center;
}
.nav-tech li{
    margin-right: 20px;
}

ul.tabs li a.current{
    color: #494d5f !important;
    background: white;
    font-weight: 700;
    border: 1px solid;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}